<footer class="block block--dark">
       
    <section class="container block grid block-footer">

      <section class="collapsible collapsible--expanded block-footer__navigation">
        <div class="collapsible__header">
          <h4 class="collapsible__heading block__heading">PRODUCTS</h4>
          <img src="./icons/chevron.svg" class="icon collapsible__icon">
        </div>
          <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Website hosting</a></li>
            <li><a href="#">Free automated Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>
      
      <section class="collapsible collapsible--expanded block-footer__navigation">
        <div class="collapsible__header">
          <h4 class="collapsible__heading block__heading">COMPANY</h4>
          <img src="./icons/chevron.svg" class="icon collapsible__icon">
        </div>
          <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </section>
      
      <section class="collapsible collapsible--expanded block-footer__navigation">
        <div class="collapsible__header">
          <h4 class="collapsible__heading block__heading">SUPPORT</h4>
          <img src="./icons/chevron.svg" class="icon collapsible__icon">
        </div>
          <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge base</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </section>
      
      <section class="collapsible collapsible--expanded block-footer__navigation">
        <div class="collapsible__header">
          <h4 class="collapsible__heading block__heading">DOMAINS</h4>
          <img src="./icons/chevron.svg" class="icon collapsible__icon">
        </div>
          <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Domain checker</a></li>
            <li><a href="#">Domain transfer</a></li>
            <li><a href="#">Free domain</a></li>
          </ul>
        </div>
      </section>
      
      <section class="block-footer__logo">
        <a class="logo" href="/"><img src="./images/logo.svg" alt="Logo of Moshify"></a>
        <p>Copyright 2020 Mosh Hamedani</p>
      </section>

    </section>
    
  </footer>