<section class="block">
    <header class="block__header container">
      <h2 class="block__heading">
        Block Heading
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum fuga inventore. Quaerat explicabo esse veritatis aut iure.</p>
    </header>
    <div class="header__content container"></div>
  </section>
  
  <br>

  <section class="block block--dark">
    <header class="block__header container">
      <h2 class="block__heading">
        Block Heading
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum fuga inventore. Quaerat explicabo esse veritatis aut iure.</p>
    </header>
    <div class="header__content container"></div>
  </section>

  <br>

  <section class="block block--dark block--skewed-right">
    <header class="block__header container">
      <h2 class="block__heading">
        Block Heading
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum fuga inventore. Quaerat explicabo esse veritatis aut iure.</p>
    </header>
    <div class="header__content container"></div>
  </section>
 
  <br>

  <section class="block block--dark block--skewed-left">
    <header class="block__header container">
      <h2 class="block__heading">
        Block Heading
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum fuga inventore. Quaerat explicabo esse veritatis aut iure.</p>
    </header>
    <div class="header__content container"></div>
  </section>