<section class="container block block-features">

    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, saepe!</p>
    </header>
      
    <article class="grid grid--2col features">
      <div class="features__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="features__heading">Super Easy to Use</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, dignissimos eaque repellat quisquam eum aspernatur?</p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <source srcset="../images/easy_resized_@1x.webp 1x, images/easy_resized_@2x.webp 2x" type="image/webp">
        <source srcset="../images/easy_resized_@1x.png 1x, images/easy_resized_@2x.png 2x" type="image/png">
        <img class="features__img" src="../images/easy_original.png" alt="">
      </picture>
    </article>

    <article class="grid grid--2col features">
      <div class="features__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#computer"></use>
            </svg>
          </span>     
          <h3 class="features__heading">Simply Fast Websites</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, dignissimos eaque repellat quisquam eum aspernatur?</p>
          <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <source srcset="../images/fast_resized_@1x.webp 1x, ../images/fast_resized_@2x.webp 2x" type="image/webp">
        <source srcset="../images/fast_resized_@1x.png 1x, ../images/fast_resized_@2x.png 2x" type="image/png">
        <img class="features__img" src="../images/fast_original.png" alt="">
      </picture>
    </article>

    <article class="grid grid--2col features">
      <div class="features__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="features__heading">Super Easy to Use</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, dignissimos eaque repellat quisquam eum aspernatur?</p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <source srcset="../images/easy_resized_@1x.webp 1x, images/easy_resized_@2x.webp 2x" type="image/webp">
        <source srcset="../images/easy_resized_@1x.png 1x, images/easy_resized_@2x.png 2x" type="image/png">
        <img class="features__img" src="../images/easy_original.png" alt="">
      </picture>
    </article>

    <article class="grid grid--2col features">
      <div class="features__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#computer"></use>
            </svg>
          </span>     
          <h3 class="features__heading">Simply Fast Websites</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, dignissimos eaque repellat quisquam eum aspernatur?</p>
          <a href="#" class="link-arrow">Learn more</a>
      </div>
      <picture>
        <source srcset="../images/fast_resized_@1x.webp 1x, ../images/fast_resized_@2x.webp 2x" type="image/webp">
        <source srcset="../images/fast_resized_@1x.png 1x, ../images/fast_resized_@2x.png 2x" type="image/png">
        <img class="features__img" src="../images/fast_original.png" alt="">
      </picture>
    </article>

  </section>