<section class="block block--dark block--skewed-right">

    <header class="block__header">
      <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>

    <div class="block grid grid--2col block-showcase">
      
      <picture class="block-showcase__picture">
        <source type="image/webp" srcset="../images/ipad_resized_@1x.webp 1x ../images/ipad_resized_@2x.webp 2x">
        <source type="image/png" srcset="../images/ipad_resized_@1x.png 1x ../images/ipad_resized_@2x.png 2x">
        <img src="../images/ipad.png" alt="">
      </picture>
      
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#settings"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="block__heading">Easy Start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, id asperiores. Corporis maxime inventore debitis iusto quae assumenda necessitatibus vitae.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="block__heading">Staging, Git & WP-CLI</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, id asperiores. Corporis maxime inventore debitis iusto quae assumenda necessitatibus vitae.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="block__heading">Dynamic Caching & More</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, id asperiores. Corporis maxime inventore debitis iusto quae assumenda necessitatibus vitae.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>