<!-- Navbar -->
    
<nav class="navbar collapsible">

    <a class="logo" href="/"><img src="./images/logo.svg" alt="Logo of Moshify"></a>
  
    <svg class="icon icon--primary navbar__toggler">
      <use xlink:href="/images/sprite.svg#menu"></use>
    </svg>

    <ul class="navbar__menu list collapsible__content">
      <li><a class="navbar__item" href="#hosting">Hosting</a></li>
      <li><a class="navbar__item" href="#vps">VPS</a></li>
      <li><a class="navbar__item" href="#domain">Domain</a></li>
      <li><a class="navbar__item" href="#pricing">Pricing</a></li>
    </ul>

  </nav>