<div class="collapsible collapsible--expanded">
    <div class="collapsible__header">
      <h4 class="collapsible__heading">Item 1</h4>
      <img src="./icons/chevron.svg" class="icon collapsible__icon">
    </div>
      <div class="collapsible__content">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <div class="collapsible collapsible--expanded">
    <div class="collapsible__header">
      <h4 class="collapsible__heading">Item 1</h4>
      <img src="./icons/chevron.svg" class="icon collapsible__icon">
    </div>
      <div class="collapsible__content">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>