<!-- Hero -->

<section class="block block--skewed-left block--dark">

  <div class="container grid grid--2col hero">
    
    <header class="block__header hero__header">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__text">Deploy your websites in less than 60 seconds.</p>
      <a class="btn btn--primary btn--stretched hero__btn" href="#">Get started</a>
    </header>
    
    <picture>
      <source srcset="../images/banner_resized_@1x.webp 1x, images/banner_resized_@2x.webp 2x" type="image/webp">
      <source srcset="../images/banner_resized_@1x.png 1x, images/banner_resized_@2x.png 2x" type="image/png">
      <img class="hero__image" src="../images/banner.png" alt="">
    </picture>
    
  </div>

</section>