<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique totam voluptas corrupti quod, amet sequi vel sint est tempora vero magnam quisquam cum ut quis!</p>
    <footer>
      <div class="media quote__media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#search"></use>
          </svg>
        </div>
        <div class="media__body quote__media__body">
          <p class="quote__media__author">Alex Caesar</p>
          <p class="quote__media__company">Toucan Design</p>
        </div>
      </div>
    </footer>
  </blockquote>