<!-- Testimonials -->
<section class="testimonial card">
    <div class="grid grid--2col">
      <div class="testimonial__image-container">
        <img class="testimonial__image" src="./images/testimonial.jpg" alt="A happy, smiling customer.">
        <span class="testimonial__icon icon-container ">
          <svg class="icon icon--small icon--white">
            <use xlink:href="/images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique totam voluptas corrupti quod, amet sequi vel sint est tempora vero magnam quisquam cum ut quis!</p>
        <footer>
          <div class="media quote__media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#search"></use>
              </svg>
            </div>
            <div class="media__body quote__media__body">
              <p class="quote__media__author">Alex Caesar</p>
              <p class="quote__media__company">Toucan Design</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>  
  </section>